# Strings in Julia language
Topics covered in this notebook:
1. How to get a string
2. String interpolation
3. String concatenation
--------

## How to get a string...
Write whatever you want as a string betweet this characters, ``" "`` or ``""" """``.

In [2]:
cat = "meow meow meowww"

"meow meow meowww"

In [3]:
squirrel = "squik squik squikkeeen"

"squik squik squikkeeen"

### ...and a character
In this case, use ``' '`` to enclose the character you refer. This doesn't apply to strings.

In [7]:
'a'
# typeof('a')

'a': ASCII/Unicode U+0061 (category Ll: Letter, lowercase)

A good thing to remember is that you might encounter some errors if your string contains quotations marks (``" "``), but you can fix it if you use triple quotation marks (``""" """``).

In [9]:
"""The cat said "meow meow" for me""")

The cat said "meow meow" for me

In [12]:
"The cat said "meow meow" for me"

LoadError: syntax: cannot juxtapose string literal

## String interpolation
To print the value of a variable inside a string, just add ``$`` before the variable (or expression) to evaluate it in the string.

In [13]:
name = "TilÃ­n"
num_fingers = 10
num_toes = 10

10

In [18]:
println("Hi, my name is $name.")
print("I have $num_fingers fingers and $num_toes toes. ")
print("That sums up to $(num_fingers+num_toes) in total! ðŸ˜²")

Hi, my name is TilÃ­n.
I have 10 fingers and 10 toes. That sums up to 20 in total! ðŸ˜²

## String concatenation
Below are two ways we can concatenate strings!

The first way is to use the ``string()`` function. ``string()`` converts non-string inputs to strings.

In [30]:
s1 = "How many cats do you have, Karen? "
s2 = "I don't know, maybe "
s3 = 15
s4 = " cats.";

In [32]:
string(s1,s2,s3,s4)

"How many cats do you have, Karen? I don't know, maybe 15 cats."

You can also use ``*`` to concatenate stings.

In [34]:
s1 * s2 * string(s3) * s4

"How many cats do you have, Karen? I don't know, maybe 15 cats."

## Some exercises
#### 1. Create a string that says "hi" 100 times, first with repeat and then with the exponentiation operator, which can call * under the hood. Assign it the variable hi below.

In [43]:
repeat("hi", 100)

"hihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihi"

In [44]:
"hi"^100

"hihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihi"

#### 2. Declare two variables ``a=3`` and ``b=4`` and use them to create two strings:
    "3 + 4"
    "7"
#### and store the results in ``c`` and ``d`` respectively

In [48]:
a, b = 3, 4
c = string(a, " + ", b)
d = string(a+b);

In [49]:
println(c)
println(d)

3 + 4
7